@media only screen and (max-width: 600px) {
  .nav {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .navright {
    display: none;
  }

  .menuSvg {
    width: 24px;
    height: 24px;
    display: flex;
    /* border:1px solid red; */
  }

  .heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 100%;
    padding: 80px 24px 80px 24px;
    background-color: black;
  }

  .heroSectionTitle {
    width: 100%;
    text-align: center;
  }

  .heroSectionTitle h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
  }

  .heroSectionTitle span {
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
  }

  .howCanWeHelp {
    padding: 80px 32px 56px 32px;
  }

  .howCAn p {
    font-size: 16px;
    width: 306px;
    text-transform: capitalize;
  }

  .howCAn h3 {
    font-size: 24px;
  }

  .howCanBtn {
    width: 357px;
    /* height: 300px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .howCanBtnOne {
    width: 360px;
  }

  .howCanBtnTwo {
    width: 360px;
  }

  .touristSite {
    background-color: #f8f8f8;
    width: 100%;
    padding: 40px 32px 80px 32px;
  }

  .touristSiteDetails {
    align-items: center;
    width: 100%;
    display: flex;
    background-color: #f8f8f8;
  }

  .div {
    width: 326px;
    align-items: center;
    background-color: white;
  }

  .div img {
    width: 294px;
    height: 180px;
  }

  .siteInfor {
    width: 100%;
  }

  .siteInfor :first-child {
    font-size: 16px;
    font-weight: 500;
  }

  .loadMore {
    color: black;
  }

  .serviceCardWrapper {
    padding: 110px 32px 110px 32px;
  }
  .serviceWrapper {
    flex-direction: column;
  }

  .serviceCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* border: 1px solid red; */
  }

  .serviceTitle h3 {
    text-align: center;
  }

  .largeViewService {
    display: none;
  }

  .mobileViewService {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 300px;
  }
  .simCard {
    background-color: rgba(22, 22, 22, 1);
    color: white;
  }

  .simCardimg {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(222, 222, 222, 1);
  }

  .footerContainer {
    padding-left: 32px;
  }

  .footerWrapper {
    gap: 66px;
    flex-direction: column;
    /* border: 1px solid black; */
  }

  .footerLogo {
    width: 100%;
  }

  .footerDetails {
    gap: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .search {
    width: 100%;
  }

  .heroBtn {
    flex-direction: column;
  }
}
