* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}

.buyticketwrapper{
    display: flex;
    justify-content: center;
    /* padding: 80px 110px 80px 110px; */
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 110px;
    padding-right: 110px;
    /* padding: 110px 80px 110px 80px; */
    background-color: black;
    gap: 64px;
}

.buyticketTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
    width: 512px;

    color: white;
    /* border: 1px solid red; */
}

.buyticketTitle img{
    width: 512px;
    /* max-width: 512px; */
    height: 320px;
}

.buyticketTitle span{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.buyTicketsRightSide{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 32px;
    width: 644px;
    height: 130px;
    border-radius: 8px;
    height:auto;
    background-color: white;
}

.buyTicketBtn{
    border-radius: 5px;
    padding: 12px 16px 12px 16px;
    background-color: #ABDEFF;
    width: 133px;
    height: 50px;
    color: black;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
}

.buyTicketFormWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 580px;
    /* border: 1px solid red; */
    }

    .buyticketTitle h3{
        font-size: 40px;
        font-weight: 500;
        line-height: 56px;
    }

    .buyticketTitle p{
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
    }