@media only screen and (max-width: 600px){


    .contactUsWrapper{
        border: 1px solid black;
        width: 100%;
        padding: 0;

    }

    .footerContainer{
        flex-direction: column;
    }

    .footerWrapper{
        flex-direction: column;
    }

    .footerDetails{
        flex-direction: column;
    }

    .contactUsLeftSide{
        width: 100%;
        max-width: 390px;
        gap: 24px;
        border-radius: 0px;
        height: auto;
        /* background-color: inherit; */
        /* display: none; */
    }

    .contactUsform{
        display: flex;
        width: 100%;
        max-width: 326px;
        background-color: white;
        padding: 24px;
    }

    .contactUsFormWrapper{
        max-width: 278px;
    }

    .leftSideTop{
        gap: 40px;
        max-width: 326px;
        border-radius: none;

    }

    .contactUsRightSide{
        display: none;
    }

    .contactUserName{
        width: 278px;
        /* border: 1px solid red; */
    }

    .userNameInput{
        width: 123px;
    }

    .emailInput{
        width: 278px;
    }

    .countryCode{
        width: 123px;
    }

    .phoneNumberInput{
        width: 145px;
    }

    .textareaInput{
        width: 278px;
        height: 56px;
    }

    .selectOptionInput{
        display: none;
    }

    .textareaWrapper{
        display: none;
    }


    .leftSideTopDetails h3{
        font-size: 24px;
        line-height: 32px;
    }
}