
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
 --primary-color: #ABDEFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "inter";
}

.btn-primary {
  background-color: var(--primary-color);
  width: 133px;
  height: 48px;
  max-height: 48px;
  border: 1px solid var(--primary-color);
  border-radius: 5px; 
}


.btn-text-bold {
  font-weight: 600;
}

.btn-width-lg {
  width: 289px;
  height: 56px;
  font-size: 16px;
}

.btn-asked{
  background-color: black;
  color: #ABDEFF;
  border: 1px solid #ABDEFF;
  border-radius: 5px;
}

.nav {
  display: flex;
  justify-content:  center;
  background-color: black;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: white;
}

.navWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}


.menuSvg{
    display: none;
    width: 24px;
    height: 24px;
}

.navright {
  display: flex;
  gap: 24px;
  align-items: center;
}

.weOffer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.weOffer span {
  font-size: 16px;
  font-weight: 400;
}

.aboutUs {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
.w-6 {
  width: 15px;
}

.h-6 {
  width: 15px;
}

.getStartedBtn {
  background-color: #abdeff;
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
  border: 1px solid #abdeff;
  font-size: 16px;
  font-weight: 500;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 80px 110px 80px 110px;
  background-color: black;
}

.heroSectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.heroSectionTitle h1 {
  color: white;
  font-size: 64px;
  font-weight: 500;
}

.heroSectionTitle span {
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: "inter";
}

.heroBtn {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

/* .heroBtn :first-child {
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #abdeff;
  border: none;
  font-family: "inter";
}

.heroBtn :last-child {
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #abdeff;
  color: #abdeff;
  font-size: 16px;
  font-weight: 500;
  background-color: black;
} */


.gallaryCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.gallaryCard img:hover + .gallaryHover{
    display: flex;
}

.gallaryHover{
    display: none;
    justify-content: space-between;
    align-items:end;
    padding: 24px;
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
    /* border: 1px solid blue; */
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
  overflow: scroll;
}

.gallaryInfor{
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* border: 1px solid red; */
}

.arrow {
    width: 24px;
    height: 24px;
    float: inline-end;
  }

.howCanWeHelp {
  display: flex;
  flex-direction: column;
  padding: 80px 110px 56px 110px;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

.howCAn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.howCAn h3 {
  font-size: 40px;
  font-weight: 500;
}
.howCAn p {
  font-size: 20px;
  font-weight: 400;
  /* border: 1px solid black; */
  text-align: center;
  max-width: 750px;
  line-height: 32px;
}
.howCanBtn {
  display: flex;
  gap: 16px;
}

.howCanBtnOne{
  display: flex;
  gap: 16px;
}

.howCanBtnTwo{
  display: flex;
  gap: 16px;
}

.accomodadtionBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* padding: 3px 0px 3px 0px; */
  background-color: #abdeff;
  font-size: 16px;
  font-weight: 400;
  height: 56px;
  width: 200px;
  border: none;
}

.howCanBtns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 12px 24px 12px 24px;
  height: 56px;
  width: 200px;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

.touristBtns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 12px 24px 12px 24px;
  height: 56px;
  width: 212px;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: 400;
}

.touristBtns img {
  width: 24px;
  height: 24px;
}

.howCanBtns img {
  width: 24px;
  height: 24px;
}

.search {
  display: flex;
  gap: 8px;
  border: 1.5px solid #ebeceb;
  padding: 12px 16px 12px 16px;
  background-color: white;
  border-radius: 4px;
  width: 500px;
}

.search svg {
  width: 13px;
  height: 13px;
}

.search input {
  border: none;
  outline: none;
}

.touristSite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 40px 110px 80px 110px;
  background-color: #f8f8f8;
}

.touristSiteDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: column;
  gap: 24px;
}

.div {
  /* padding: 16px; */
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: white;
  display: flex;
  border-radius: 8px;
  gap: 24px;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
}

.siteInfor {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.siteInfor p {
  display: flex;
  font-size: 14px;
  /* border:1px solid red; */
}

.siteInfor a {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 6px;
  text-decoration: none;
}

.div img {
  height: 150px;
  width: 230px;
}



.loadMore {
  background-color: #abdeff;
  padding: 12px 24px 12px 24px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 500;
}

.serviceCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110px 140px 110px 140px;
  gap: 64px;
  background-color: black;
}

.serviceTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: white;
}

.serviceTitle h3{
    font-size: 40px;
    font-weight: 500;
}

.largeViewService{
    font-size: 20px;
    font-weight: 400;
}

.mobileViewService{
    display: none;
}
.serviceCards{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 32px;
    /* border: 1px solid red; */
    width: 100%;
    max-width: 1000px;
}


.serviceWrapper {
  display: flex;
  gap: 32px;
  width: 100%;
  max-width: 116opx;
  /* border: 1px solid white; */
}

.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 24px;
    gap: 24px;
    max-width: 365.33px;
}

.card img{
    width: 17px;
    height: 25px;
}
.simCard{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 24px;
    gap: 24px;
    max-width: 365.33px;
}

.simCard:hover{
    background-color: black;
    color:white;
}

.simCard img{
    width: 20px;
    height: 28px;
}
.driverCard{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 24px;
    gap: 24px;
    max-width: 365.33px;
}
.driverCard img{
    width: 32px;
    height: 32px;
}

.airplaneCard{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 24px;
    gap: 24px;
    max-width: 365.33px;
}

.airplaneCard img{
    width: 25px;
    height: 26px;
}

.questonCard{
    background-color: #ABDEFF;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 24px;
    gap: 24px;
    max-width: 365.33px;
}

.questonCard img{
    width: 26px;
    height: 26px;
}

.cardInfor{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.footerContainer{
    padding:80px 110px 80px 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerLogo{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 217px;
}

.footerLogo img{
    height: 38px;
    width: 116px;
}

.footerDetails{
  max-width: 449px;
    display: flex;
    gap: 64px;
}

.footerWrapper{
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  border: 1px solid red;
}

.condition{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.condition p{
    font-size: 16px;
    font-weight: 400;
}

.platforms{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.platforms a {
  text-decoration: none;
  color: black;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.socials p{
    font-size: 16px;
    font-weight: 400;
}

.platforms p{
    font-size: 16px;
    font-weight: 400;
}

.contactUsWrapper{
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 84px;
}

.contactUs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
    margin: 0;
    padding: 0;
}

.contactUsLeftSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 32px;
    /* gap: 40px; */
    border-radius: 8px;
    height: 760px;
    width: 604px;
    background: conic-gradient(from 210.92deg at 50% 50%, #FD0008 0deg, #0073BD 125.63deg, #00B36D 234.38deg, #FF8800 350.63deg, #FD0008 360deg);
}

.leftSideTop img{
    width: 121px;
    height: 40px;
}

.leftSideTop{
    display: flex;
    flex-direction: column;
    gap: 144px;
    width: 470px;
}

.leftSideTopDetails{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.leftSideTopDetails h3{
    font-size: 40px;
    font-weight: 700;
}
.leftSideTopDetails p{
    font-size: 16px;
    font-weight: 400;
}

.leftBottomSection{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    width: 470px;
    background-color: white;
    border-radius: 4px;
}

.nameCheck{
    display: flex;
    gap: 8px;
}

.contactUsRightSide{
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 644px;
    height:auto;
}

.contactUsFormWrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
}

.contactUsBtn{
    border-radius: 5px;
    padding: 12px 48px 12px 48px;
    background-color: black;
    width: 222px;
    height: 48px;
    color: white;
    outline: none;
    border: none;
}